---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Release
permissions: { contents: read }

on:
  workflow_dispatch:
    inputs:
      dry-run:
        description: 'Dry run mode (no actual release)'
        required: false
        default: false
        type: boolean
      draft:
        description: Mark Release as Draft
        default: false
        required: false
        type: boolean

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    if: github.repository_owner == 'mirceanton' # ? don't run on forks
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: app-token
        with:
          app-id: '${{ secrets.BOT_APP_ID }}'
          private-key: '${{ secrets.BOT_APP_PRIVATE_KEY }}'

      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          token: '${{ steps.app-token.outputs.token }}'

      - name: Create Release
        uses: ./
        with:
          github-token: ${{ steps.app-token.outputs.token }}
          dry-run: ${{ (github.event_name == 'workflow_dispatch' && inputs.dry-run) }}
          draft: ${{ inputs.draft || 'false' }}
